<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  {% load static %}
  <link rel="icon" href="{% static 'img/favicon.png' %}">
  <!-- Bootstrap Styles - css
  ================================================== -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <!-- Jquery - js
  ================================================== -->
  <script type="text/javascript" language="javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- Bootstrap - js
  ================================================== -->
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- Font-awesome CSS -->
  <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Styles - css
  ================================================== -->
  <link href="{% static 'css/theme.css' %}" rel="stylesheet">
  <title>
    {% block title %}Base{% endblock %}
  </title>
  </head>
<body>
  <div class="container-fluid">
    <div class="mt-3 mb-3">
      <a href="{% url 'index' %}"><button class="btn btn-info">Home</button></a>
      <a href="{% url 'list' %}"><button class="btn btn-primary">List</button></a>
    </div>
    {% block body %}
      Base
    {% endblock %}
  </div>
</body>
</html>